<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="ida navbar-brand">
        <%= link_to "blog", static_pages_index_path, id: "logo" %>
      </div>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to 'Articles', articles_path %></li>
        <li><%= link_to 'New article', new_article_path %></li>
        <li role="search" id="search">
          <%= form_tag(articles_path, method: "get", class: "row") do %>
            <%= text_field_tag(:q) %>
            <%= submit_tag "Search", name: nil %>
          <% end %>
        </li>
      </ul>
      <ul class="nav pull-right">
        <li>
          <% if user_signed_in? %>
            <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
          <% else %>
            <li><%= link_to('Sign in', new_user_session_path) %></li>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>

  <% if notice %>
  <p id="notice" class="alert alert-info alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><%= notice %></p>
  <% end %>
   
  <% if alert %>
  <p id="alert" class="alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><%= alert %></p>
  <% end %>

